<tr id="<%= dom_id bank_account %>">
	<td><%= bank_account.bank_name %></td>
	<td><%= bank_account.branch %></td> 
	<td><%= bank_account.type %></td> 
	<td><%= bank_account.number %></td> 
	<td><%= bank_account.holder %></td>
	<td><%= link_to 'Show', bank_account %></td>
</tr>
